@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-default: #222327;
  --primary-white: #ffffff;
  --primary-red: #ff3c41;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-default);
  color: #000;
}

#app {
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.navigation {
  width: 100%;
  max-width: 360px;
  height: 70px;
  background: var(--primary-white);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.listWrap {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 1;
}

.list a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.list a:hover {
  text-decoration: none;
}

.icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
  color: var(--bg-default);
}

.icon ion-icon {
  font-size: 2.2rem;
}

.text {
  position: absolute;
  color: var(--bg-default);
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(20px);
  opacity: 0;
  z-index: 1;
}

.list.active a .icon {
  color: var(--primary-white);
  transform: translateY(-32px);
}

.list.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -50%;
  border-radius: 50%;
  border: 6px solid var(--bg-default);
  background: var(--primary-red);
  transition: 0.3s;
  z-index: 0;
}

.indicator:before,
.indicator:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
}

.indicator:after {
  right: -22px;
  box-shadow: -1px -10px 0 0 var(--bg-default);
  border-top-left-radius: 20px;
}

.indicator:before {
  left: -22px;
  box-shadow: 1px -10px 0 0 var(--bg-default);
  border-top-right-radius: 20px;
}

.list:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.list:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1 + (6px * 2)));
}

.list:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2 + (6px * 4) + 1px));
}

.list:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3 + (6px * 6) + 2px));
}

/* Contenu principal */
#content {
  width: 100%;
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
  overflow-y: auto; 
}

#content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000; 
}

#content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0; 
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 16px;
}

.nutriscore {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nutriscore img {
  margin-right: 10px;
  height: 50px;
}

.nutriscore-reference {
  margin-top: 10px;
}

.nutriscore-reference img {
  max-width: 100px;
  height: auto;
}

/* Product info styles */
.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-info img {
  max-width: 100%;
  height: auto; /* Assure que les images ne soient pas coupées */
  margin: 10px 0; /* Ajuster la marge pour espacer correctement les images */
  border-radius: 8px;
  object-fit: contain; /* Contenir l'image sans découpage */
}

.product-info ul {
  list-style-type: none;
  padding-left: 0;
}

.product-info li {
  margin-bottom: 5px;
}

.categories,
.labels,
.nutrition-facts {
  margin-top: 10px;
}

/* Style pour le conteneur du scanner */
#scannerFrame {
  width: 80%;
  height: 50vh; /* Hauteur pour une meilleur visibilité du scannerFrame */
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #4CAF50; /* Bordure verte pour contraste */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Clip de la video */
  position: relative;
}

/* Style pour le conteneur de la vidéo */
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* largeur du scanner */
  height: 100%; /* hauteur scanenr */
  z-index: 1; /* La vidéo sera dans le champdu scanner */
  overflow: hidden;
}

/* Style pour la vidéo à l'intérieur du conteneur */
#video {
  width: 100%; /* largeur du container vidéo */
  height: 100%; /* hauteur du container vidoé */
  object-fit: cover; /* couvrire tous le champ */
}

/* Style pour les coins du scanner */
.corner {
  width: 20px; /* Taille pour les coin du scanner */
  height: 20px; /* Taille pour les coin du scanner */
  position: absolute;
  border: 2px solid #4CAF50; /* Couleur verte pour les coins */
  z-index: 3; /* assure que les coin sont vien sur la vidéo */
}

.corner.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.corner.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.corner.bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.corner.bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/* Animation de la ligne de balayage */
.scan-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0));
  animation: scan 2s linear infinite;
  z-index: 3; /* assure que la ligne rouge du scanner soit bien centré */
}

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.start-scan-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px; /* Padding pour le boutojn */
  font-size: 16px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.start-scan-btn:hover {
  background-color: #45a049;
}

/* Styles pour les titres en forme de bulle */
.bubble-title {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.bubble-title:hover {
  transform: scale(1.05);
}

/* Styles pour les cartes */
.card {
  background-color: white; /* Arrière-plan blanc */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  color: #000; /* Texte noir */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 10px;
  font-size: 16px;
}

.labels ul,
.categories ul {
  display: flex;
  flex-wrap: wrap;
}

.labels li,
.categories li {
  background-color: #e0f7fa;
  color: #00796b;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Ajoutons des animations de transition */
.card, .bubble-title, .nutriscore, .nutrition-facts, .labels, .categories {
  transition: all 0.3s ease-in-out;
}

/* Ajoutons des effets de survol */
.card:hover, .bubble-title:hover {
  transform: scale(1.05);
}


/* Styles pour la section promo */
#promo {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
  color: var(--bg-default);
  position: relative;
}

#promo h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#promo p {
  font-size: 16px;
  margin-bottom: 20px;
}

#add-promo-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-promo-button:hover {
  background-color: #e33a3d;
}

.promo-list {
  list-style: none;
  padding: 0;
}

.promo-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.promo-product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.promo-details {
  flex-grow: 1;
}

.promo-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.promo-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.company-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.promo-form-container {
  padding: 20px;
  background-color: var(--primary-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: block;
}

.promo-form-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.promo-form-container form {
  display: flex;
  flex-direction: column;
}

.promo-form-container input,
.promo-form-container textarea,
.promo-form-container button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.promo-form-container button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  cursor: pointer;
}

.promo-form-container button:hover {
  background-color: #e33a3d;
}

.hidden {
  display: none;
}


/* Améliorations pour la section Firebase U */
#firebaseui-auth-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

#firebaseui-auth-container .firebaseui-idp-button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  height: 50px; /* Réduire la hauteur des boutons */
  display: flex;
  align-items: center;
  justify-content: center;
}

#firebaseui-auth-container .firebaseui-idp-button:hover {
  background-color: #e33a3d;
}

#firebaseui-auth-container .firebaseui-idp-button .firebaseui-idp-text {
  color: var(--primary-white);
}

#firebaseui-auth-container .firebaseui-idp-button .firebaseui-idp-icon {
  height: 20px; /* Réduire la taille de l'icône Google */
  width: 20px;
  margin-right: 10px;
}




/* Media Queries pour les petits écrans */
@media only screen and (max-width: 600px) {
  #scannerFrame {
    height: 20vh; /* Réduire la hauteur du scanner sur les petits écrans */
  }
}

/* Media Queries pour iPhone avec barre de navigation en bas */
@media only screen and (min-height: 812px) and (max-width: 768px) {
  .navbar {
    bottom: constant(safe-area-inset-bottom); /* constante Pour iPhone avec barre de navigation en bas */
    bottom: env(safe-area-inset-bottom); /* env Pour iPhone avec barre de navigation en bas */
  }
}

/* Styles pour les écrans d'ordinateur */
@media (min-width: 1024px) {
  .navigation {
    max-width: none; /* Annule la limitation de largeur */
    width: 80%; /* Largeur de la barre de navigation sur écran large */
    justify-content: space-around; /* Répartit l'espace autour des éléments */
    left: 50%;
    transform: translateX(-50%); /* Centre horizontalement */
  }
}