@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-default: #222327;
  --primary-white: #ffffff;
  --primary-red: #ff3c41;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-default);
  color: #000;
  overflow-x: hidden; /* Limiter le scroll horizontal */
}

#app {
  overflow-y: auto; /* Activer le scroll vertical */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  min-height: 100vh; /* Prendre au moins toute la hauteur de la fenêtre */
  width: 100vw; /* Assurer que l'app prend toute la largeur de la fenêtre */
  max-width: 100%; /* Empêcher de dépasser la largeur de la fenêtre */
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
}


.center-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  padding-top: 40px; /* Ajustement pour l'espace sous l'en-tête */
}

/* En-tête fixe */
#header {
  background-color: var(--primary-red); /* Rouge primaire pour l'en-tête */
  color: var(--primary-white); /* Texte blanc */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001; /* Au-dessus de la navigation */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#header h1 {
  margin: 0;
  font-size: 2.4rem;
}

/* Centrage de la navigation */
.navigation {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  height: 70px;
  background: var(--primary-white);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Coins arrondis */
  padding: 0 20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: solid 2px var(--bg-default); /* Bordure noire pour éviter la transparence */
}

.listWrap {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 1;
}

.list a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
  color: var(--bg-default);
}

.icon ion-icon {
  font-size: 2.2rem;
}

.text {
  position: absolute;
  color: var(--bg-default);
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(20px);
  opacity: 0;
  z-index: 1;
}

.list.active a .icon {
  color: var(--primary-white);
  transform: translateY(-32px);
}

.list.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -50%;
  border-radius: 50%;
  border: 6px solid var(--bg-default);
  background: var(--primary-red);
  transition: 0.3s;
  z-index: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Bordure noire pour éviter la transparence */
}

.indicator:before,
.indicator:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
}

.indicator:after {
  right: -22px;
  box-shadow: -1px -10px 0 0 var(--bg-default);
  border-top-left-radius: 20px;
}

.indicator:before {
  left: -22px;
  box-shadow: 1px -10px 0 0 var(--bg-default);
  border-top-right-radius: 20px;
}

/* Déplacement de l'indicateur */
.list:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.list:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1 + (6px * 2)));
}

.list:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2 + (6px * 4) + 1px));
}

.list:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3 + (6px * 6) + 2px));
}

/* Style général pour la page Home */
#home h2 {
  margin-bottom: 20px;
  color: var(--bg-default); /* Couleur noire ou une autre couleur visible */
  text-align: center; /* Centre le texte à l'intérieur */
}

#home p {
  color: var(--primary-white);
  margin-bottom: 20px;
}

/* Style pour le workflow explicatif */
.workflow {
  display: flex;
  justify-content: center; /* Espacement équilibré entre les étapes */
  margin-top: 20px;
  flex-wrap: wrap; /* Permet de s'adapter aux petits écrans */
}

.step {
  text-align: center;
  flex: 1;
  margin: 10px;
}

.step img {
  max-width: 80px; /* Limite la taille de l'image */
  margin-bottom: 10px;
}

.step h3 {
  font-size: 1.8rem;
  color: var(--primary-red); /* Couleur rouge primaire pour les titres des étapes */
  margin-bottom: 5px;
}

.step p {
  font-size: 1.4rem;
  color: var(--primary-white);
}

/* Style pour la liste de recommandations */
.recommendation-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.recommendation-list li {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #000; /* Texte noir */
}

/* Contenu principal */
#content {
  width: 100%;
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
  overflow-y: auto; 
}

#content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000; 
}

#content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0; 
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 16px;
}

.nutriscore {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nutriscore img {
  margin-right: 10px;
  height: 50px;
}

.nutriscore-reference {
  margin-top: 10px;
}

.nutriscore-reference img {
  max-width: 100px;
  height: auto;
}

/* Product info styles */
.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-info img {
  max-width: 100%;
  height: auto; /* Assure que les images ne soient pas coupées */
  margin: 10px 0; /* Ajuster la marge pour espacer correctement les images */
  border-radius: 8px;
  object-fit: contain; /* Contenir l'image sans découpage */
}

.product-info ul {
  list-style-type: none;
  padding-left: 0;
}

.product-info li {
  margin-bottom: 5px;
}

.categories,
.labels,
.nutrition-facts {
  margin-top: 10px;
}

/* Style pour le conteneur du scanner */
#scannerFrame {
  width: 80%;
  height: 40vh; /* Adjusted height to ensure it fits well */
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #4CAF50;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  top: 20vh; /* Adjust this to ensure the scanner is centered vertically */
}

/* Style pour le conteneur de la vidéo */
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* largeur du scanner */
  height: 100%; /* hauteur scanner */
  z-index: 1; /* La vidéo sera dans le champ du scanner */
  overflow: hidden;
}

/* Style pour la vidéo à l'intérieur du conteneur */
#video {
  width: 100%; /* largeur du container vidéo */
  height: 100%; /* hauteur du container vidéo */
  object-fit: cover; /* couvrir tout le champ */
}

/* Style pour les coins du scanner */
.corner {
  width: 20px; /* Taille pour les coins du scanner */
  height: 20px; /* Taille pour les coins du scanner */
  position: absolute;
  border: 2px solid #4CAF50; /* Couleur verte pour les coins */
  z-index: 3; /* assure que les coins soient bien sur la vidéo */
}

.corner.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.corner.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.corner.bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.corner.bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/* Animation de la ligne de balayage */
.scan-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0));
  animation: scan 2s linear infinite;
  z-index: 3; /* assure que la ligne rouge du scanner soit bien centrée */
}

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.start-scan-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px; /* Padding pour le bouton */
  font-size: 16px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.start-scan-btn:hover {
  background-color: #45a049;
}


/* Container for the buttons */
#scannerControls {
  position: absolute;
  top: 105%; /* Positioned just below the scanner frame */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 80%;
  z-index: 4;
}

/* Styling the control buttons */
.control-button {
  background-color: #2c2c2c; /* Dark background */
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.control-button span.icon-keyboard::before {
  content: '⌨'; /* Keyboard Icon */
}

.control-button span.icon-close::before {
  content: '✕'; /* Close Icon */
}

.control-button span.icon-flash::before {
  content: '⚡'; /* Flash Icon */
}

.control-button:hover {
  background-color: #4c4c4c;
}


/* Styles pour les titres en forme de bulle */
.bubble-title {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.bubble-title:hover {
  transform: scale(1.05);
}

/* Améliorations visuelles pour les cartes */
.card {
  background-color: var(--primary-white); /* Arrière-plan blanc */
  color: var(--bg-default); /* Couleur noire */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  text-align: center; /* Centre le texte à l'intérieur de la carte */
  color: #000; /* Texte noir */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  color: var(--bg-default); /* Couleur noire  */
}

.card h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: var(--bg-default); /* Couleur noire ou une autre couleur visible */
}

.card p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: var(--bg-default); /* Couleur noire ou une autre couleur visible */
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 10px;
  font-size: 16px;
}

.labels ul,
.categories ul {
  display: flex;
  flex-wrap: wrap;
}

.labels li,
.categories li {
  background-color: #e0f7fa;
  color: #00796b;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Ajoutons des animations de transition */
.card, .bubble-title, .nutriscore, .nutrition-facts, .labels, .categories {
  transition: all 0.3s ease-in-out;
}

/* Ajoutons des effets de survol */
.card:hover, .bubble-title:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

/* Styles pour la section promo */
#promo {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--bg-default);
  position: relative;
}

#promo h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

#promo p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

#add-promo-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-promo-button:hover {
  background-color: #e33a3d;
}

.promo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre */
}

.promo-product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.promo-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.promo-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #d32f2f;
  font-weight: bold;
  text-align: left;
}

.promo-details p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
}

.promo-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

.promo-location {
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}

.promo-expiry {
  font-size: 14px;
  color: #777;
  margin-left: auto;
}

.promo-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: right;
  margin-left: auto;
}

/* Style pour le formulaire d'ajout de promotion */
.promo-form-container {
  display: block; /* Assurez-vous qu'il soit affiché lorsqu'il n'est pas caché */
  background-color: var(--primary-white); /* Assurez-vous qu'il soit bien visible */
  padding: 20px; /* Ajouter un padding pour l'espacement interne */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour qu'il se détache */
  border-radius: 8px; /* Adoucit les coins */
  margin-top: 20px; /* Espacement au-dessus pour qu'il ne soit pas collé au reste du contenu */
  max-width: 600px; /* Largeur maximale pour éviter qu'il s'étale trop */
  width: 100%; /* S'adapte à la largeur de l'élément parent */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  z-index: 10; /* S'assure qu'il soit au-dessus des autres éléments */
}

.promo-form-container input,
.promo-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}

.promo-form-container button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.promo-form-container button:hover {
  background-color: #e33a3d;
}


/* Améliorations pour la section Firebase UI */
#firebaseui-auth-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

#firebaseui-auth-container .firebaseui-idp-button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  height: 50px; /* Réduire la hauteur des boutons */
  display: flex;
  align-items: center;
  justify-content: center;
}

#firebaseui-auth-container .firebaseui-idp-button:hover {
  background-color: #e33a3d;
}

#firebaseui-auth-container .firebaseui-idp-button .firebaseui-idp-text {
  color: var(--primary-white);
}

#firebaseui-auth-container .firebaseui-idp-button .firebaseui-idp-icon {
  height: 20px; /* Réduire la taille de l'icône Google */
  width: 20px;
  margin-right: 10px;
}

/* Styles pour le formulaire de connexion */
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

#login-form button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-form button:hover {
  background-color: #e33a3d;
}

#login-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Styles pour la section du compte utilisateur */
#account {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
  overflow-y: auto;
}

#account h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#user-info {
  text-align: center;
}

#user-info p {
  font-size: 18px;
  font-weight: 500;
  color: var(--bg-default);
  margin-bottom: 20px;
}

#update-profile-button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

#update-profile-button:hover {
  background-color: #e33a3d;
}

#update-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#update-profile-form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

#update-profile-form button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#update-profile-form button:hover {
  background-color: #e33a3d;
}

#logout-button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#logout-button:hover {
  background-color: #e33a3d;
}

#account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles pour masquer le contenu derrière la modale */
.modal {
  display: none; /* Masquée par défaut */
  position: fixed;
  z-index: 1000; /* Assure que la modale soit au-dessus de tout le reste */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Noir avec opacité pour masquer le fond */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles pour centrer la fenêtre de la modale */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet pop-up */
  text-align: center;
}

/* Style pour le bouton de fermeture (X) */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Media Queries pour les petits écrans */
@media only screen and (max-width: 600px) {
  #scannerFrame {
    height: 20vh; /* Réduire la hauteur du scanner sur les petits écrans */
  }
}

/* Media Queries pour iPhone avec barre de navigation en bas */
@media only screen and (min-height: 812px) and (max-width: 768px) {
  .navbar {
    bottom: constant(safe-area-inset-bottom); /* constante Pour iPhone avec barre de navigation en bas */
    bottom: env(safe-area-inset-bottom); /* env Pour iPhone avec barre de navigation en bas */
  }
}

/* Styles pour les écrans d'ordinateur */
@media (min-width: 1024px) {
  .navigation {
    max-width: none; /* Annule la limitation de largeur */
    width: 80%; /* Largeur de la barre de navigation sur écran large */
    justify-content: space-around; /* Répartit l'espace autour des éléments */
    left: 50%;
    transform: translateX(-50%); /* Centre horizontalement */
  }
}
